body{
  margin: 40px;
}

td {
  border: dashed 1px;
  padding: 5px;
}

th{
  background-color: #80808052;
  padding: 5px;
}

canvas{
  margin-top: 50px;/
}

table#familias-avaliadas{
  width: 100%;
  border: solid;
  border-collapse: collapse;
}

td.number{
  text-align: center;
}

div#gdt{
  padding: 10px;
}
