<%

// Processing buttonts and tabs
let menuButtons = [];
let tabsContent = [];
config.elementos.forEach( e => {
  menuButtons.push(`<button class="tablinks" onclick="openTab(event, '${e.id}')">${e.nome}</button>`);
  tabsContent.push(`
    <div id="${e.id}" class="tabcontent">
      <button class='add-element'> + </button>
    </div>
  `);
});

%>
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/mainPage.css" />
    <script src="assets/js/plain-draggable.min.js"></script>
  </head>

  <body>
    <%# Vertical Tab %>
    <div class="tab">
        <%- menuButtons.join('\n'); %>
    </div>


    <div id="width-selector">
      <!-- Width selector -->
    </div>

    <!-- Tab content -->
    <div id="none" class="tabcontent"> <!-- Hidden tab content -->
      <p> Escolha uma aba para começar </p>
    </div>

    <%- tabsContent.join('\n'); %>

    <script src="assets/js/mainPage.js"></script>
    <script>
      //Handling exceptions
      function inputNumber(input,type){
        let damage = input.parentElement.previousElementSibling.textContent;
        let val = parseInt(input.value);
        if( type == 'fp' ){
          if( damage == 'Fissuras' ){
            if( val < 2 ) input.value = 2;
          }
          else{
            if( val < 0 ) input.value = 0;
          }
          if( val > 10 ) input.value = 10;
        }
      }

    </script>
  </body>

</html>
<% ejse.stopListening() %>
