<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/mainPage.css" />
    <script src="js/plain-draggable.min.js"></script>
  </head>

  <body>

    <!-- Vertical Tab -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'vp')">Vigas Principais</button>
      <button class="tablinks" onclick="openTab(event, 'vs')">Vigas Secundárias</button>
    </div>


    <div id="width-selector">
      <!-- Width selector -->
    </div>

    <!-- Tab content -->
    <div id="none" class="tabcontent"> <!-- Hidden tab content -->
      <p> Escolha uma aba para começar </p>
    </div>

    <div id="vp" class="tabcontent">
      <hr class="table-divider"></hr>
      <table class="element">
        <tr>
          <td class="element-id" colspan="4"> Local: </td>
          <td class="element-id"> Id: </td>
        </tr>
        <tr>
          <th> Danos </th>
          <th> Fp </th>
          <th> Fi </th>
          <th> D </th>
          <td rowspan="9000" > <img class="center" src="http://www.pudim.com.br/pudim.jpg" height="100"> </td>
        </tr>
        <tr>
          <td> Desvio de Geometria </td>
          <td class="number"> 8 </td>
          <td class="number"> 1 </td>
          <td class="number"> 3,2 </td>
        </tr>
        <tr>
          <td class="add-row">
            <select>
              <option value="">Adicionar</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </td>
          <td class="number"> --- </td>
          <td class="number"> --- </td>
          <td class="number"> --- </td>
        </tr>
        <tr>
          <td colspan="3"> Grau de Deterioração do Elemento </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3"> Nível de Deterioração da Peça </td>
          <td></td>
        </tr>
      </table> <!-- .element -->
      <hr class="table-divider"></hr>
      <table class="element">
        <tr>
          <td class="element-id" colspan="4"> Nome </td>
          <th class="photo">
            <button onclick="clickAddPhoto(1)">Adicionar Foto</button>
          </th>
        </tr>
        <tr>
          <td class="element-id" colspan="4"> Local </td>
          <td rowspan="9000" > <img class="center" src="http://www.pudim.com.br/pudim.jpg" height="100"> </td>
        </tr>
        <tr>
          <th> Danos </th>
          <th> Fp </th>
          <th> Fi </th>
          <th> D </th>
        </tr>
        <tr>
          <td> Desvio de Geometria </td>
          <td class="number"> 8 </td>
          <td class="number"> 1 </td>
          <td class="number"> 3,2 </td>
        </tr>
        <tr>
          <td class="add-row">
            <select>
              <option value="">Adicionar</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </td>
          <td class="number"> --- </td>
          <td class="number"> --- </td>
          <td class="number"> --- </td>
        </tr>
        <tr>
          <td colspan="3"> Grau de Deterioração do Elemento </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3"> Nível de Deterioração da Peça </td>
          <td></td>
        </tr>
      </table> <!-- .element -->
      <hr class="table-divider"></hr>
      <button> Adicionar Elemento </button>
    </div>

    <div id="vs" class="tabcontent">
      <p>Paris is the capital of France.</p>
    </div>

    <script src="js/mainPage.js"></script>
  </body>

</html>
