<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/mainPage.css" />
    <script src="js/plain-draggable.min.js"></script>
  </head>

  <body>

    <!-- Vertical Tab -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'vp')">Vigas Principais</button>
      <button class="tablinks" onclick="openTab(event, 'vs')">Vigas Secundárias</button>
    </div>


    <div id="width-selector">
      <!-- Width selector -->
    </div>

    <!-- Tab content -->
    <div id="none" class="tabcontent"> <!-- Hidden tab content -->
      <p> Escolha uma aba para começar </p>
    </div>
    <div id="vp" class="tabcontent">
      <p>London is the capital city of England.</p>
    </div>
    <div id="vs" class="tabcontent">
      <p>Paris is the capital of France.</p>
    </div>

    <script src="js/mainPage.js"></script>
  </body>

</html>
